<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <!--<link th:href="@{/css/font-awesome_4.7.0.css}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?modified=20231209">
</head>
<body th:style="'background-image:url(' + @{/roll-background-image} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div class="wrapper">
    <a href="#" id="roll">* START *</a>
    <div style="background-color: gold;" id="names"></div>
    <div style="-webkit-backdrop-filter: blur(6px); backdrop-filter: blur(6px);" id="winner"></div>
    <br/><br/>
    <div><a href="#" id="remove"><i class="fa fa-close" al></i></a> &nbsp; <a href="#" id="clear"><i
            class="fa-spin fa fa-refresh"></i></a></div>
</div>

</body>
<footer>
    <script th:src="@{/js/jquery-3.6.4.js}" type="text/javascript"></script>
    <script th:src="@{/js/sweetalert2.10.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        $("document").ready(function () {
            rollClick();
            clearForm();
            removeForm();

            $("#remove").hide();
            $("#clear").hide();
        });



        let myCandidateObj;
        let winnerCandidate;

        /*<![CDATA[*/
        let entrants = /*[[${candidates}]]*/ [];
        let entrantsCount = entrants.length;
        let winningCount = (entrantsCount > 120) ? (entrantsCount - 100) : 0;
        console.log("Total Count: " + entrantsCount);
        //console.log("End Count: " + winningCount);

        /*]]>*/

        function randomName() {
            const rand = Math.floor(Math.random() * entrantsCount);
            myCandidateObj = entrants[rand];
            winnerCandidate = myCandidateObj.firstName.toUpperCase() + " " + myCandidateObj.lastName.toUpperCase();
            //
            console.log("Rand: " + rand)
            console.log("Participants: " + winnerCandidate)
            $("#names").text(winnerCandidate);
            //
        }

        function rollClick() {
            $("#roll").on("click", function (e) {
                $(this).hide();
                $("#clear").hide();
                $("#remove").hide();
                $("#names").show();

                setDeceleratingTimeout(
                    function () {
                        randomName();
                    }, 1, entrantsCount
                );
                e.preventDefault();
            });
        }

        function clearForm() {
            $("#clear").on("click", function (e) {
                $(this).hide();
                $("#names").hide();
                $("#remove").hide();
                $("#winner").text("");
                $("#roll").show();

                //get updated list
                getUpdatedList();

                Swal.fire({
                    icon: "success",
                    title: "Refreshed!",
                    showConfirmButton: false,
                    timer: 2500
                });
            });
        }

        function removeForm() {
            $("#remove").on("click", function (e) {
                $(this).hide();
                $("#names").hide();
                $("#winner").text("");
                $("#roll").show();
                $("#clear").hide();

                removeCandidate(myCandidateObj);
            });
        }

        function setDeceleratingTimeout(callback, factor, times) {
            const internalCallback = (function (t, counter) {
                return function () {
                    if (--t > winningCount) {
                        window.setTimeout(internalCallback, ++counter * factor);
                        callback();
                        //console.log("Scanning: " + t);
                    } else {
                        //show the winner
                        $("#names").hide();
                        $("#winner").html("<span>Congratulations!!!<br></span>" + winnerCandidate);
                        //$("#roll").show();
                        $("#clear").show();
                        $("#remove").show();
                    }
                };
            })(times, 0);
            window.setTimeout(internalCallback, factor);
        }

        function removeCandidate(myCandidateObj) {
            fetch('/randomizer-app/v1/api/remove-candidate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Add other headers if needed
                },
                body: JSON.stringify(myCandidateObj)
            })
                .then(response => response.json())
                .then(myCandidateObj => {
                    console.log('Removed:', myCandidateObj);

                    //get updated list
                    getUpdatedList();

                    Swal.fire({
                        icon: "success",
                        title: "Removed from list!",
                        showConfirmButton: false,
                        timer: 2000
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle errors
                    Swal.fire({
                        icon: "warning",
                        title: "Something went wrong! Try again.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                });

        }

        function getUpdatedList() {
            fetch('/randomizer-app/v1/api/get-candidates', {
                method: 'GET',
            })
                .then(response => response.json())
                .then(res => {
                    console.log('Updated:', res);
                    entrants = res;
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle errors
                    Swal.fire({
                        icon: "warning",
                        title: "Something went wrong! Try again.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                });

        }

    </script>
</footer>
</html>
