<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>2023 Christmas Party Raffle</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery-3.6.4.js}" type="text/javascript"></script>
    <script th:src="@{/js/sweetalert2.10.js}" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script th:inline="javascript">
        $("document").ready(function () {
            rollClick();
            clearForm();
            removeForm();

            $("#remove").hide();
            $("#clear").hide();

        });

        var myCandidateObj;

        /*<![CDATA[*/
        var entrants = /*[[${candidates}]]*/ [];
        /*]]>*/


        function randomName() {
            var rand = Math.floor(Math.random() * entrants.length);
            var name = entrants[rand];
            myCandidateObj = name;
            $("#names").text(name.firstName.toUpperCase() + " " + name.lastName.toUpperCase());
        }

        function rollClick() {
            $("#roll").on("click", function (e) {
                $(this).hide();
                $("#clear").hide();
                $("#remove").hide();
                $("#names").show();

                setDeceleratingTimeout(
                    function () {
                        randomName();
                    },
                    10,
                    40
                );

                setTimeout(function () {
                    var winner = $("#names").text();
                    $("#winner").text(winner);
                    $("#names").hide();
                    $("#winner").html("<span>Congratulations!!!<br></span>" + winner);
                    //      $("#roll").show();
                    $("#clear").show();
                    $("#remove").show();

                }, 3000);

                e.preventDefault();
            });
        }

        function clearForm() {
            $("#clear").on("click", function (e) {
                $(this).hide();
                $("#names").hide();
                $("#remove").hide();
                $("#winner").text("");
                $("#roll").show();

                //get updated list
                getUpdatedList();

                Swal.fire({
                    icon: "success",
                    title: "Refreshed!",
                    showConfirmButton: false,
                    timer: 1000
                });
            });
        }

        function removeForm() {
            $("#remove").on("click", function (e) {
                $(this).hide();
                $("#names").hide();
                $("#winner").text("");
                $("#roll").show();
                $("#clear").hide();

                removeCandidate(myCandidateObj);
            });
        }

        function setDeceleratingTimeout(callback, factor, times) {
            var internalCallback = (function (t, counter) {
                return function () {
                    if (--t > 0) {
                        window.setTimeout(internalCallback, ++counter * factor);
                        callback();
                    }
                };
            })(times, 0);

            window.setTimeout(internalCallback, factor);
        }


        function removeCandidate(myCandidateObj) {
            fetch('/randomizer-app/v1/api/remove-candidate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Add other headers if needed
                },
                body: JSON.stringify(myCandidateObj)
            })
                .then(response => response.json())
                .then(myCandidateObj => {
                    console.log('Removed:', myCandidateObj);

                    //get updated list
                    getUpdatedList();

                    Swal.fire({
                        icon: "success",
                        title: "Removed from list!",
                        showConfirmButton: false,
                        timer: 2000
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle errors
                    Swal.fire({
                        icon: "warning",
                        title: "Something went wrong! Try again.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                });

        }


        function getUpdatedList() {
            fetch('/randomizer-app/v1/api/get-candidates', {
                method: 'GET',
            })
                .then(response => response.json())
                .then(res => {
                    console.log('Updated:', res);
                    entrants = res;
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle errors
                    Swal.fire({
                        icon: "warning",
                        title: "Something went wrong! Try again.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                });

        }

    </script>
</head>
<body th:style="'background-image:url(' + @{/background-image} + '); background-repeat: no-repeat, repeat; background-size: cover;'">

<div class="wrapper">
    <a href="#" id="roll">* START *</a>
    <div style="background-color: orange;" id="names"></div>
    <div style="-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);" id="winner"></div>
    <a href="#" id="remove"><i class="fa fa-close"></i></a>
    <div></div>
    <a href="#" id="clear"><i class="fa-spin fa fa-refresh"></i></a>
</div>

</body>
</html>
